/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Luxurious+Roman&family=Poppins:wght@400;500&display=swap');

/* common styles or utilities */
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* top players style  */
.top-players{
    margin-bottom: 30px;
}
.section-title{
   color: #562EFF;
   font-size: 24px;
   margin-top: 2px;

}
.players{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 30px;
   

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog styles  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;

}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-athour{
    font-size: 16px;
    color: #9F9F9F;

}
.blog-athour a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* Courses style  */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
     border-radius: 13.36px; 
     padding: 20px; 
     

}
.course{
     
   border-Radius: 13.36px;
    box-shadow: 5px 5px 10px rgb(201, 199, 199);
}
.course .course-bannar img{
    Width:100%;
    Height:104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duretion{
    background-color: #FFE4E8;
    border-radius: 30px;
    color: #FF4A60;
    padding: 10px;
    font-size: 14.69px;
}
span{
    color: #A2A2A2;
    
}
.course-duretion.fa-clock{
    Width:20.03px;
    Height:20.03px;
}
/*------------
 Media Queries
---------------*/


/* Mobile Devices
----------------- */
@media only screen and (max-width:688px){
    .players{
        background-color: #A2A2A2;

    }
}